.body{
    background-color: rgb(194, 187, 187);
}
.mummy{
    margin-top: 10px;
    float: left;
    height: 600px;
    width: 250px;
    background-color: rgb(241,40,90);
    border-radius: 1550px/ 0px 1250px 4550px 1500px;
}

.serah{
    width: 50%;
}
ul a{
    text-decoration: none;
    padding: 1px;
    color: black;
}
.m5{
    width: 50%;
}
 .main ul li{ 
    
    list-style: none;
    padding: 3px;
    display: inline;
    margin: 1rem;
    
}
.main{
    display: flex;
    border: 100%;
}
.nav ul li{
    display: inline;
    margin: 1rem;
}
.serah1{
    display: flex;
}
.shoe2{
  width: 8%;
  height: 8%;
}
.shoe1{
    width: 10%;
    height: 10%;
}
.shoe3{
    width: 10%;
    height: 10%;
  
}
.serah3{
    position: relative;
    top: -200px;
  
}
.ani{
    background-image: linear-gradient(white);
}
.ani{
    width: 20%;
    height: 20%;
}
.hey{
    display: flex; 
    
 }
 .hey img{
     width: 150px;
     height: 150px;
 }
 .R{
    margin-left: 4%;
   
 } 
 .R{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
 } 
 .R{
    border: solid;
 }  
.S{
    margin-left: 4%;
   
}
.S{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.S{
    border: solid;
}
.a{
    margin-left: 4%; 
   
  
}
.a{
   padding: 10px 12px;
   background-color: white;
   border-radius: 1em;

}
.a{
    border:solid ;
}
.U{
    border: solid;
}
.Q{
    width: 1100px;
    height: 1100px;
}
.T{
    width: 1100px;
    height: 1100px;

}
.V{
    width: 80%;
    height: 80%;
}
.c{
    height: 20%;
    width: 20%;
}
.U {
    margin-left: 4%;
   
    

}
.U{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.
.R{
    border-radius: 2em;
    
}
.serah4{
   
  
    text-align: center;
}
.hey{
   
    
}
.very{
    display: flex;
    
border: solid;
width: 80%;
height: 80%;
    background-color: rgb(246,102,102);
    position: relative;
  
}
.very ul li{
    list-style-type: none;
}
.one{
    padding: 20px;
}
.two{
    padding: 20px;
    background-color: #f77071;
}
.three{
    color: #f77071;
}
.four{
    color: #f77071;


}
.one{
    border-color:#f77071 ;
}
.SPAN{
    border-radius: 50%;
    border-color:#f77071 ;
    background-color: #f77071;
    width: 50%;
    height: 50%;
}

@media only screen and(max-width:900px){
    
    
}